[submodule "packages/nw_ptcl/library/addins/Eft"]
	path = packages/nw_ptcl/library/addins/Eft
	url = https://github.com/nw4f/Eft
[submodule "lib/sdl-utils"]
	path = lib/sdl-utils
	url = https://github.com/sdlfoundation/sdl-utils
